@import './variables.scss';

.custom-checkbox {
    color: $secondary-1;
    display: flex;
    align-items: center;
  
    &.custom-checkbox--checked {
      color: $primary-1;
    }
  
    svg {
      flex-shrink: 0;
    }
  }
  