// colors
$primary-1: #1360FF;
$primary-2: #2E3751;
$secondary-1: #666F8A;
$secondary-2: #23CE5D;
$secondary-3: #0046D6;
$white: #FFFFFF;
$gray-1: #EDEDF2;
$gray-2: #F8F8FA;
$gray-3: #E8E8E8;
$gray-4: #979797;
$gray-5: #F7FAFD;
$error: #F03839;
$success: #23CE5D;
$warning: #F3BB1C;
$highlightColor: #C0E6FF;
