// libraries
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import 'semantic-ui-css/semantic.min.css';

// custom code
@import './components//variables.scss';
@import './components//sidebar.scss';
@import './components//profiles.scss';


// global
html,
body,
#root,
.main {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font: normal normal 400 16px/20px 'Source Sans Pro', sans-serif;
}



/* Typography */
h1,
h2,
h3,
h4,
h5 {
  color: $primary-2;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}