.compare-types {
    margin-bottom: 35px;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
  
    span {
      margin-right: 27px;
  
      svg {
        margin-right: 11px;
      }
    }
  }

.compare-panel {
  display: flex;

  .row {
    border-bottom: 1px solid;
  }

  .left-compare-panel {
    width: 50%;
    border-right: 1px solid;
  }

  .right-compare-panel {
    width: 50%;
    border-left: 1px solid;
  }
}